* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .head_1{
    position: absolute;
    width: 55px;
    height: 21px;
    left: 20px;
    top: 37px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    /* Gray 1 */
    color: #333333;
}

  .login_button {
    position: absolute;
    width: 75px;
    height: 27px;
    left: 264px;
    top:0px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    padding-top: 5px;
  }

  .shop{
    position: absolute;
    width: 380px;
    height: 238px;
    left: 0px;
    top: 72px;
  }

  .intro_box{
    position:absolute;
    width: 328px;
    height: 150px;
    left: 25px;
    top: 289px;
    /*padding: 22px;*/
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
  }

  .normal{
    position: absolute;
    width: 277px;
    height: 56px;
    padding-left:10px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

  .bold{
    position: absolute;
    width: 296px;
    height: 39px;
    padding-top: 87px;
    padding-left:10px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;  
}

  .intro_checklist{
      position:absolute;
      top:479px;
  }

  .plain_header{
    position: absolute;
    width: 252px;
    height: 46px;
    left: 34px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .checklist{
      margin-top:30px;
      padding: 50px;
      width: 500px;
      height: 16px;
  }

  .special{
    width: 290px;
    height: 16px;
    line-height: 30px
  }

  .green{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    /* Green 1 */
    color: #219653; 
  }

  li:not(:last-child) {
      margin-bottom: 22px;
  }

  .normal_1{
    position: absolute;
    width: 300px;
    height: 16px;
    left: 110px;
    top: 785px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;    
}

  /*.purp_button{
    position:absolute;
    top:800px;
    left: 77px;
  }*/

  .button{
    position: absolute;
    width: 219px;
    height: 45px;
    left: 77px;
    top: 811px;
    /* Purple 1 */
    background: #9B51E0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-top: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

  .part_2{
    position:absolute;
    top:931px;
  }

  .plain_header_1{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #000000;
    position: relative;
    width: 282px;
    height: 28px;
    left: 22px;
    top: 0px;
  }

  .steps{
      /*top: 1021px;*/
      position:absolute;
      margin-top: 61px;
      margin-left:25.3px;
  }

  .Step-2, .Step-3, .Step-4{
    margin-top:92px;
}

  .box{
      width:50px;
      height:20px;
      left:0px;
      
      background: rgba(28, 28, 28, 0.7);
      border-radius: 0px;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      text-align: center;
      padding:3px;
      margin-bottom:6px;
      padding-left:6px;
      padding-bottom:6px;
      weight: 400;
      color: #FFFFFF;
  }

  .Step-1{
      width:1000px;
      height:40px;
  }

  .bold_heading-1{
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    margin-left:40px;
    /* identical to box height */
    text-align: center;
    /*letter-spacing: 0.05em;*/
    top:-25px;
    position: relative;
    /* Gray 1 */
    color: #333333;
  }

  .bold_heading-2{
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    margin-left:60px;
    /* identical to box height */
    text-align: center;
    /*letter-spacing: 0.05em;*/
    top:-25px;
    position: relative;
    /* Gray 1 */
    color: #333333;
  }

  .bold_heading-3{
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    margin-left:60px;
    /* identical to box height */
    text-align: center;
    /*letter-spacing: 0.05em;*/
    top:-25px;
    position: relative;
    /* Gray 1 */
    color: #333333;
  }

  .bold_heading-4{
    width: 300px;
    height: 40px;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    margin-left:60px;
    /* identical to box height */
    text-align: center;
    /*letter-spacing: 0.05em;*/
    top:-25px;
    position: relative;
    /* Gray 1 */
    color: #333333;
  }

  .content{
    width: 249px;
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    margin-left:60px;
    margin-top:-15px;
    letter-spacing: 0.05em;
    /* Gray 2 */
    color: #4F4F4F;
  }

  .img-1{
    margin-top: 29px;
    width: 303px;
    height: 164px;
    left: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .img-2{
    margin-top: 90px;
    width: 303px;
    height: 108px;
    left: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .img-3{
    margin-top: 40px;
    margin-left: 40px;
    width: 230px;
    height: 201px;
    left: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .img-4{
    margin-top: 70px;
    width: 179px;
    height: 212px;
    margin-left: 60px;
    background: #FFFFFF;
  }

  .line-break1{
    margin-top:250px;
    position: absolute;
    width: 216px;
    height: 0px;
    left: 50px;
    border: 0.4px solid #CACACA;
    opacity:0.3;
  }

  .line-break2{
    margin-top:250px;
    position: absolute;
    width: 216px;
    height: 0px;
    left: 50px;
    border: 0.4px solid #CACACA;
    opacity:0.3;
  }

  .line-break3{
    margin-top:285px;
    position: absolute;
    width: 216px;
    height: 0px;
    left: 48px;
    border: 0.4px solid #CACACA;
    opacity:0.3;
  }

  .part_3{
    position:absolute;
    top:2570px;
  }

  .semi_head{
    margin-top: 54px;
    margin-left: 18px;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    width: 323px;
    height: 66px;
    color: #000000;
  }  

  .purp_button{
    width: 200px;
    height: 45px;
    /* Purple 1 */
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 21px;
    margin-top: 30px;
    color: #FFFFFF;
    padding-left:18px;
    background: #9B51E0;
  }

  .container{
      margin-top:32px;
      margin-left: 8px;
  }

.accordion-toggle{
    left:22px;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.05em;
    /* Gray 2 */
    color: #4F4F4F;
    line-height: 150%;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* Gray 2 */
    color: #4F4F4F;
}

.panel-body{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.05em;
    /* Gray 2 */
    color: #4F4F4F;

}

  .panel-heading [data-toggle="collapse"]:after {
    float: right;
    font-size: 18px;
    line-height: 22px;
}

  .part_4{
    position:absolute;
    top:3220px;
    width: 390px;
    height: 230px;
    left: -1px;

    /* Purple 1 */

    background: #9B51E0;
  }

  .footer{
    width: 361px;
    height: 230px;
    left: -1px;
    top: 3099px;
    
    /* Purple 1 */
    
    background: #9B51E0;
    position:fixed;
    bottom:0;
  }

  #parent_div_1 {
  width: 130px;
  height: 100px;
  margin-top: 28px;
  margin-right: 37px;
  margin-left: 23px;
  float: left;
  line-height:16.41px;
  font-size:14px;
  font-weight: 300;
  color: #FFFFFF;
}

#parent_div_2{
    width: 140px;
    height: 100px;
    margin-top: 28px;
    margin-right: 37px;
    margin-left: 23px;
    float: left;
    line-height:16.41px;
    font-size:14px;
    font-weight: 300;
    color: #FFFFFF;
}

.child_div_1 {
  float: left;
  margin-right: 5px;
  line-height:300%;
}
.child_div_2{
    float: left;
    margin-right: 5px;
    line-height:16.41px;
}
.child_div_3{
    float: left;
    margin-right: 5px;
    line-height:300%;
}
.child_div_4{
    width: 137px;
    height: 64px;   
    float: left;
    margin-right: 5px;
    line-height:16.41px;
}